<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop.Co</title>

    {% comment %} jQuery {% endcomment %}
    <script
      async
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    {% comment %} <script src="{{ 'jquery_3.7.1.js' | asset_url }}" defer></script> {% endcomment %}

    {% comment %} Slick Carousal {% endcomment %}
    <script src="{{ 'slick.min.js' | asset_url }}" defer></script>

    {% comment %} Slick Theme CSS {% endcomment %}
    {{ 'slick.css' | asset_url | stylesheet_tag }}

    {% comment %} Tailwind {% endcomment %}
    {{ 'tailwind.css' | asset_url | stylesheet_tag }}

    {% comment %} Custom {% endcomment %}
    {{ 'style.css' | asset_url | stylesheet_tag }}

    {% comment %} Load main JS {% endcomment %}
    <script src="{{'main.js' |  asset_url}}" defer></script>

    {% comment %} Content for Header {% endcomment %}
    {{ content_for_header }}
  </head>
  <body>
    {%- sections 'header-group' -%}
    {{ content_for_layout }}
    {%- sections 'footer-group' -%}
  </body>
</html>
