<header>
  <div class="py-6">
    <div class="container">
      <div class="flex items-center -mx-4">
        <div class="w-2/12 px-4">
          <a href=""> <img height="" width="" src="{{'logo.png'|  asset_url}}" alt=""></a>
        </div>
        <div class="w-4/12 px-4">
          <ul class="mainmenu">
            <li class=""><a href="">Shop</a></li>
            <li class=""><a href="">Shop</a></li>
            <li class=""><a href="">Shop</a></li>
            <li class=""><a href="">Shop</a></li>
          </ul>
        </div>
        <div class="w-5/12 px-4">
          <form action="" class="flex bg-gray-100 rounded-full px-4 items-center">
            <img height="" width="" src="{{'search.svg'|  asset_url}}" alt="">
            <input
              class="p-4 w-full  focus:outline-none"
              type="text"
              name=""
              id=""
              placeholder="Search for products..."
            >
          </form>
        </div>
        <div class="w-1/12 px-4 relative">
          <div class="flex justify-end items-center">
            <a href=" {{ routes.cart_url }}" class="mr-2">
              <img height="" width="" src="{{'cart.svg'|  asset_url}}" alt="">
            </a>
            <a href="">
              <img height="" width="" src="{{'profile.svg'|  asset_url}}" alt="">
            </a>
          </div>
          <div
            style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;"
            class="cart_dawer absolute top-[65px] right-[40px] p-6 min-w-96 bg-white shadow-lg  rounded-lg hidden"
          >
            <p class="font-bold text-xl">Your Cart</p>

            <button onclick="$('.cart_dawer').addClass('hidden');" class="absolute right-2 top-2">
              <img height="24" width="24" src="{{'close.svg'|  asset_url}}" alt="">
            </button>

            <div class="cart_drawer_item h-[200px] overflow-auto"></div>

            <div class="mt-2">
              <a href="{{routes.cart_url}}" class="border border-gray-200 px-4 py-3 block text-center rounded-full"
                >View Cart</a
              >
            </div>
            <div class="mt-2">
              <a href="/checkout" class="text-white bg-black px-4 py-3 block text-center rounded-full">Check Out</a>
            </div>

            <div class="text-center mt-4">
              <button
                class="cursor-pointer underline"
                onclick="$('.cart_dawer').addClass('hidden');"
              >
                Continue Shopping
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [],
  "enabled_on": {
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "Header",
      "settings": {}
    }
  ]
}
{% endschema %}
